@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Cairo" !important;
}

::-webkit-scrollbar {
  height: 5px;
  width: 6px; /* Set the width of the scrollbar */
  background-color: #F5F5F5; /* Set the background color of the scrollbar */
  position: absolute !important;
  direction: ltr !important;
  left: 0 !important; /* Position the scrollbar on the right of the element*/
}
::-webkit-scrollbar-thumb {
  background-color: #919191; /* Set the color of the thumb */

}
::-webkit-scrollbar-track {
  border-radius: 5px;
  position: absolute !important;
  direction: ltr !important;
  left: 0 !important;
}

input:-webkit-autofill {
  box-shadow: 0 0 0px 1000px inherit inset !important;
  -webkit-text-fill-color: #000 !important;
}


input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition: background-color 9999s ease-out, color 9999s ease-out;
  -webkit-text-fill-color: inherit !important;
  box-shadow: 0 0 0px 1000px transparent inset !important;
}